In [4]:
from pandas import DataFrame
from pandas import Series

data = {
    '시가':[980,200,300],
    '고가':[990,300,500],
    '저가':[920,180,300],
    '종가':[930,180,400]
}
index = ['비트 코인', '리플', '이더리움']
df = DataFrame(data = data,index = index)
df

        시가   고가   저가   종가
비트 코인  980  990  920  930
리플     200  300  180  180
이더리움   300  500  300  400

In [7]:
data = [
    [980,990,920,930],
    [200,300,180,180],
    [300,500,300,400]
]
colum = ['시가','고가','종가','저가']
index = ['비트 코인', '리플', '이더리움']
df = DataFrame(data = data,index = index, columns = colum)
df

        시가   고가   종가   저가
비트 코인  980  990  920  930
리플     200  300  180  180
이더리움   300  500  300  400

In [8]:
df["종가"]

비트 코인    920
리플       180
이더리움     300
Name: 종가, dtype: int64

In [10]:
df[['시가','종가']]

        시가   종가
비트 코인  980  920
리플     200  180
이더리움   300  300

In [11]:
df.iloc[1]

시가    200
고가    300
종가    180
저가    180
Name: 리플, dtype: int64

In [13]:
df.loc['리플']

시가    200
고가    300
종가    180
저가    180
Name: 리플, dtype: int64

In [14]:
df.iloc[0:2]

        시가   고가   종가   저가
비트 코인  980  990  920  930
리플     200  300  180  180

In [15]:
df.loc["비트 코인":"이더리움"]

        시가   고가   종가   저가
비트 코인  980  990  920  930
리플     200  300  180  180
이더리움   300  500  300  400

In [16]:
df.iloc[1,2]

180

In [17]:
df.loc['리플', '고가']

300

In [18]:
df.iloc[[1,2],[0,1]]

       시가   고가
리플    200  300
이더리움  300  500